#########################
# Intellij Specific Files
#########################
.idea/
*.iml
#########################
# Class and Jar Files
#########################
*.class
*.jar
#########################